# Homework Exercise 3: Pandas

## Task 0 - Housekeeping

## Task 0.a
### Completed by:  Sai Eshwar Tadepalli

## Task 0.b

< Make sure you clearly label each task using L2 Markdown. Mark each graded code with the
word Answer followed by the task # in L3 heading. Otherwise, we may miss it. >

## Task 1 - Import two libraries
< We will use NumPy and Pandas, imported as np and pd in our program. >

In [171]:
# importing statements
import numpy as np
import pandas as pd

## Question 1.i - Print the version of Pandas that you are using
### ANSWER 1.i

In [172]:
# printing version
pd.__version__

'1.4.2'

## Task 2 - Creating a DataFrame from reading in a file

In [173]:
# creating a dataframe 
# pd.read_csv?
statespopDF = pd.read_csv("census_statespop.csv")
statespopDF.head()
statespopDF.tail()

,STATE,REGION,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,POPESTIMATE2016,POPESTIMATE2017,POPESTIMATE2018,POPESTIMATE2019
49,Wisconsin,Midwest,5690475.0,5705288.0,5719960.0,5736754.0,5751525.0,5760940.0,5772628.0,5790186.0,5807406.0,5822434.0
50,Wyoming,West,564487.0,567299.0,576305.0,582122.0,582531.0,585613.0,584215.0,578931.0,577601.0,578759.0
51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,Puerto Rico,NaN,3721525.0,3678732.0,3634488.0,3593077.0,3534874.0,3473232.0,3406672.0,3325286.0,3193354.0,3193694.0
53,Hawaii,West,1363963.0,1379329.0,1394804.0,1408243.0,1414538.0,1422052.0,1427559.0,1424393.0,1420593.0,1415872.0

## Task 2a - First let us try reading it simply with no optional parameters
< To view the DataFrame, you call its name. But this would print all the contents of the file, which
if too large, becomes unwieldy. A better approach is to ask to view either entries from the head
or the tail of the data. DataFrame.head() and DataFrame.tail() both accept an optional
parameter n = number of entries to show; by default n=5 >

In [133]:
statespopDF = pd.read_csv("census_statespop.csv")

## Question 2.i - Write a command to view the top 10 rows of the DataFrame statespopDF
### ANSWER 2.i

In [135]:
# viewing top 10 rows
statespopDF.head(10)

,STATE,REGION,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,POPESTIMATE2016,POPESTIMATE2017,POPESTIMATE2018,POPESTIMATE2019
0,Alabama,South,4785437.0,4799069.0,4815588.0,4830081.0,4841799.0,4852347.0,4863525.0,4874486.0,4887681.0,4903185.0
1,Alaska,West,713910.0,722128.0,730443.0,737068.0,736283.0,737498.0,741456.0,739700.0,735139.0,731545.0
2,Arizona,West,6407172.0,6472643.0,6554978.0,6632764.0,6730413.0,6829676.0,6941072.0,7044008.0,7158024.0,7278717.0
3,Arkansas,South,2921964.0,2940667.0,2952164.0,2959400.0,2967392.0,2978048.0,2989918.0,3001345.0,3009733.0,3017804.0
4,California,West,37319502.0,37638369.0,37948800.0,38260787.0,38596972.0,38918045.0,39167117.0,39358497.0,39461588.0,39512223.0
5,Colorado,West,5047349.0,5121108.0,5192647.0,5269035.0,5350101.0,5450623.0,5539215.0,5611885.0,5691287.0,5758736.0
6,Connecticut,Northeast,3579114.0,3588283.0,3594547.0,3594841.0,3594524.0,3587122.0,3578141.0,3573297.0,3571520.0,3565287.0
7,Delaware,South,899593.0,907381.0,915179.0,923576.0,932487.0,941252.0,948921.0,956823.0,965479.0,973764.0
8,District of Columbia,NaN,605226.0,619800.0,634924.0,650581.0,662328.0,675400.0,685815.0,694906.0,701547.0,705749.0
9,Florida,South,18845537.0,19053237.0,19297822.0,19545621.0,19845911.0,20209042.0,20613477.0,20963613.0,21244317.0,21477737.0

## Task 2b - Now let us read in the file again, and specify some parameters.

In [69]:
# reading file with specific parameters
statespopDF = pd.read_csv("census_statespop.csv",
                          sep = ',',
                          header = 0,
                          names = ['Region'] + [i for i in range(10,20)],
                          index_col = 0)
statespopDF.head(n=5)

,Region,10,11,12,13,14,15,16,17,18,19
Alabama,South,4785437.0,4799069.0,4815588.0,4830081.0,4841799.0,4852347.0,4863525.0,4874486.0,4887681.0,4903185.0
Alaska,West,713910.0,722128.0,730443.0,737068.0,736283.0,737498.0,741456.0,739700.0,735139.0,731545.0
Arizona,West,6407172.0,6472643.0,6554978.0,6632764.0,6730413.0,6829676.0,6941072.0,7044008.0,7158024.0,7278717.0
Arkansas,South,2921964.0,2940667.0,2952164.0,2959400.0,2967392.0,2978048.0,2989918.0,3001345.0,3009733.0,3017804.0
California,West,37319502.0,37638369.0,37948800.0,38260787.0,38596972.0,38918045.0,39167117.0,39358497.0,39461588.0,39512223.0

## Question 2.ii - Change the colnames for the years to ‘y2010’,‘y2011’ etc. Leave ‘Region’ as it is
### ANSWER 2.ii

In [177]:
# changing colnames in read_csv
statespopDF = pd.read_csv("census_statespop.csv",
                          sep = ',',
                          header = 0,
                          names = ['Region'] + ['y' + str(i) for i in range(2010,2020)],
                          index_col = 0)
statespopDF.head(n=5)

,Region,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019
Alabama,South,4785437.0,4799069.0,4815588.0,4830081.0,4841799.0,4852347.0,4863525.0,4874486.0,4887681.0,4903185.0
Alaska,West,713910.0,722128.0,730443.0,737068.0,736283.0,737498.0,741456.0,739700.0,735139.0,731545.0
Arizona,West,6407172.0,6472643.0,6554978.0,6632764.0,6730413.0,6829676.0,6941072.0,7044008.0,7158024.0,7278717.0
Arkansas,South,2921964.0,2940667.0,2952164.0,2959400.0,2967392.0,2978048.0,2989918.0,3001345.0,3009733.0,3017804.0
California,West,37319502.0,37638369.0,37948800.0,38260787.0,38596972.0,38918045.0,39167117.0,39358497.0,39461588.0,39512223.0

## Task 3 -  Understanding the data
## Question 3.i - What are the number of rows and columns in statespopDF? Use a command to determine this
### ANSWER 3.i

In [178]:
# number of rows and coloumns
statespopDF.shape

(54, 11)

## Question 3.ii - What is the datatype (not type) of the column labels (not the columns themselves) in statespopDF? Use a command to determine this
### ANSWER 3.ii

In [184]:
# datatype of column labels
statespopDF.columns.dtype

dtype('O')

## Task 4 - Indexing DataFrames: selecting entire columns or row using column name or index label

## Task 4a -  Selecting only on column(s)

In [139]:
# indexing data frames
statespopDF['Region'].head()
statespopDF[['Region']].head()
statespopDF[['Region','y2010','y2011']].head()

           Region       y2010       y2011
Alabama     South   4785437.0   4799069.0
Alaska       West    713910.0    722128.0
Arizona      West   6407172.0   6472643.0
Arkansas    South   2921964.0   2940667.0
California   West  37319502.0  37638369.0

## Question 4.i - Obtain the population of all states only for the odd years. Print just the first 5 rows. Use label indexing with slicing.
### ANSWER 4.i

In [140]:
# printing population of all states for the odd years
statespopDF.loc[:,'y2011':'y2019':2].head()

                 y2011       y2013       y2015       y2017       y2019
Alabama      4799069.0   4830081.0   4852347.0   4874486.0   4903185.0
Alaska        722128.0    737068.0    737498.0    739700.0    731545.0
Arizona      6472643.0   6632764.0   6829676.0   7044008.0   7278717.0
Arkansas     2940667.0   2959400.0   2978048.0   3001345.0   3017804.0
California  37638369.0  38260787.0  38918045.0  39358497.0  39512223.0

## Question 4.ii - Obtain the population for states starting at Georgia and ending with Indiana, for the years 2012 to 2015 inclusive. Use label indexing with slicing in both dimensions.
### ANSWER 4.ii

In [141]:
# printing population for few states
statespopDF.loc['Georgia':'Indiana','y2012':'y2015']

               y2012       y2013       y2014       y2015
Georgia    9901430.0   9972479.0  10067278.0  10178447.0
Hawaii     1394804.0   1408243.0   1414538.0   1422052.0
Idaho      1595324.0   1611206.0   1631112.0   1651059.0
Illinois  12882510.0  12895129.0  12884493.0  12858913.0
Indiana    6537703.0   6568713.0   6593644.0   6608422.0

## Question 4.iii - Obtain the population for the following 3 states in order: Georgia, Utah and Indiana, for the even years from 2012 -2016 inclusive. Use fancy indexing for rows and slicing for columns. Use label indexing in both dimensions.
### ANSWER 4.iii

In [142]:
# printing population for 3 states: Georgia, Utah, Indiana
statespopDF.loc[('Georgia','Utah','Indiana'),'y2012':'y2016':2]

             y2012       y2014       y2016
Georgia  9901430.0  10067278.0  10301890.0
Utah     2853375.0   2936879.0   3041868.0
Indiana  6537703.0   6593644.0   6634304.0

## Question 4.iv - Obtain only the Region for every other state starting with the first (in the default order it is in the DataFrame), and print all records. Use integer indexing with slicing for rows.
### ANSWER 4.iv

In [143]:
# printing only the region for every other state 
statespopDF.iloc[::2,0]

Alabama                     South
Arizona                      West
California                   West
Connecticut             Northeast
District of Columbia          NaN
Georgia                     South
Idaho                        West
Indiana                   Midwest
Kansas                    Midwest
Louisiana                   South
Maryland                    South
Michigan                  Midwest
Mississippi                 South
Montana                      West
Nevada                       West
New Jersey              Northeast
New York                Northeast
North Dakota              Midwest
Oklahoma                    South
Pennsylvania            Northeast
South Carolina              South
Tennessee                   South
Utah                         West
Virginia                    South
West Virginia               South
Wyoming                      West
Puerto Rico                   NaN
Name: Region, dtype: object

## Task 5 - Cleaning and pre-processing the data

In [144]:
# checking for 'any' null values
statespopDF.isnull().any()

Region    True
y2010     True
y2011     True
y2012     True
y2013     True
y2014     True
y2015     True
y2016     True
y2017     True
y2018     True
y2019     True
dtype: bool

## Question 5.i - Write code to determine how many columns have ‘all’ null values. You can do this by first determining whether each column has ‘all’ null values, and provide an answer as a comment: how many columns have all null values? Your command should include the DF.all() method.
### ANSWER 5.i

In [145]:
# checking for 'all' null values
statespopDF.isnull().all()

Region    False
y2010     False
y2011     False
y2012     False
y2013     False
y2014     False
y2015     False
y2016     False
y2017     False
y2018     False
y2019     False
dtype: bool

> There are zero columns with 'all' values in the given dataFrame

## Question 5.ii - Print the number of non-missing values for each row. Write the command using DF.count() method and provide the answer.
### ANSWER 5.ii

In [146]:
# printing number of non-missing values
statespopDF.count(axis = 1)

Alabama                 11
Alaska                  11
Arizona                 11
Arkansas                11
California              11
Colorado                11
Connecticut             11
Delaware                11
District of Columbia    10
Florida                 11
Georgia                 11
Hawaii                  11
Idaho                   11
Illinois                11
Indiana                 11
Iowa                    11
Kansas                  11
Kentucky                11
Louisiana               11
Maine                   11
Maryland                11
Massachusetts           11
Michigan                11
Minnesota               11
Mississippi             11
Missouri                11
Montana                 11
Nebraska                11
Nevada                  11
New Hampshire           11
New Jersey              11
New Mexico              11
New York                11
North Carolina          11
North Dakota            11
Ohio                    11
Oklahoma                11
Oregon                  11
Pennsylvania            11
Rhode Island            11
South Carolina          11
South Dakota            11
Tennessee               11
Texas                   11
Utah                    11
Vermont                 11
Virginia                11
Washington              11
West Virginia           11
Wisconsin               11
Wyoming                 11
NaN                      0
Puerto Rico             10
Hawaii                  11
dtype: int64

## Question 5.iii - Write code to obtain a proportion of each of the unique values in the Region column (there are four) instead of counts, (after dropping the missing value). Hint: change a parameter in the value_counts() method to obtain proportions.
### ANSWER 5.iii

In [147]:
# obtaining proportion of each of the unique values
statespopDF['Region'].value_counts(dropna = True, normalize = True)

South        0.313725
West         0.274510
Midwest      0.235294
Northeast    0.176471
Name: Region, dtype: float64

## Question 5.iv - What is the shape of statespopDF_dropnadup after dropping rows with all nulls and rows with duplicate values? Write a command to obtain this.
### ANSWER 5.iv

In [148]:
# shape of statespopDF_dropnadup
statespopDF_dropna = statespopDF.dropna(axis = 0, how = 'all')
statespopDF_dropnadup = statespopDF_dropna.drop_duplicates(keep = 'first', inplace = False)
statespopDF_dropnadup.shape

(52, 11)

## Task 6 - Create a deep copy and save to a file

In [149]:
# creating a deep copy
popDF = statespopDF_dropnadup.copy(deep=True)
popDF

,Region,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019
Alabama,South,4785437.0,4799069.0,4815588.0,4830081.0,4841799.0,4852347.0,4863525.0,4874486.0,4887681.0,4903185.0
Alaska,West,713910.0,722128.0,730443.0,737068.0,736283.0,737498.0,741456.0,739700.0,735139.0,731545.0
Arizona,West,6407172.0,6472643.0,6554978.0,6632764.0,6730413.0,6829676.0,6941072.0,7044008.0,7158024.0,7278717.0
Arkansas,South,2921964.0,2940667.0,2952164.0,2959400.0,2967392.0,2978048.0,2989918.0,3001345.0,3009733.0,3017804.0
California,West,37319502.0,37638369.0,37948800.0,38260787.0,38596972.0,38918045.0,39167117.0,39358497.0,39461588.0,39512223.0
Colorado,West,5047349.0,5121108.0,5192647.0,5269035.0,5350101.0,5450623.0,5539215.0,5611885.0,5691287.0,5758736.0
Connecticut,Northeast,3579114.0,3588283.0,3594547.0,3594841.0,3594524.0,3587122.0,3578141.0,3573297.0,3571520.0,3565287.0
Delaware,South,899593.0,907381.0,915179.0,923576.0,932487.0,941252.0,948921.0,956823.0,965479.0,973764.0
District of Columbia,NaN,605226.0,619800.0,634924.0,650581.0,662328.0,675400.0,685815.0,694906.0,701547.0,705749.0
Florida,South,18845537.0,19053237.0,19297822.0,19545621.0,19845911.0,20209042.0,20613477.0,20963613.0,21244317.0,21477737.0
Georgia,South,9711881.0,9802431.0,9901430.0,9972479.0,10067278.0,10178447.0,10301890.0,10410330.0,10511131.0,10617423.0
Hawaii,West,1363963.0,1379329.0,1394804.0,1408243.0,1414538.0,1422052.0,1427559.0,1424393.0,1420593.0,1415872.0
Idaho,West,1570746.0,1583910.0,1595324.0,1611206.0,1631112.0,1651059.0,1682380.0,1717715.0,1750536.0,1787065.0
Illinois,Midwest,12840503.0,12867454.0,12882510.0,12895129.0,12884493.0,12858913.0,12820527.0,12778828.0,12723071.0,12671821.0
Indiana,Midwest,6490432.0,6516528.0,6537703.0,6568713.0,6593644.0,6608422.0,6634304.0,6658078.0,6695497.0,6732219.0
Iowa,Midwest,3050745.0,3066336.0,3076190.0,3092997.0,3109350.0,3120960.0,3131371.0,3141550.0,3148618.0,3155070.0
Kansas,Midwest,2858190.0,2869225.0,2885257.0,2893212.0,2900475.0,2909011.0,2910844.0,2908718.0,2911359.0,2913314.0
Kentucky,South,4348181.0,4369821.0,4386346.0,4404659.0,4414349.0,4425976.0,4438182.0,4452268.0,4461153.0,4467673.0
Louisiana,South,4544532.0,4575625.0,4600972.0,4624527.0,4644013.0,4664628.0,4678135.0,4670560.0,4659690.0,4648794.0
Maine,Northeast,1327629.0,1328284.0,1327729.0,1328009.0,1330513.0,1328262.0,1331317.0,1334612.0,1339057.0,1344212.0
Maryland,South,5788645.0,5839419.0,5886992.0,5923188.0,5957283.0,5985562.0,6003323.0,6023868.0,6035802.0,6045680.0
Massachusetts,Northeast,6566307.0,6613583.0,6663005.0,6713315.0,6762596.0,6794228.0,6823608.0,6859789.0,6882635.0,6892503.0
Michigan,Midwest,9877510.0,9882412.0,9897145.0,9913065.0,9929848.0,9931715.0,9950571.0,9973114.0,9984072.0,9986857.0
Minnesota,Midwest,5310828.0,5346143.0,5376643.0,5413479.0,5451079.0,5482032.0,5522744.0,5566230.0,5606249.0,5639632.0
Mississippi,South,2970548.0,2978731.0,2983816.0,2988711.0,2990468.0,2988471.0,2987938.0,2988510.0,2981020.0,2976149.0
Missouri,Midwest,5995974.0,6010275.0,6024367.0,6040715.0,6056202.0,6071732.0,6087135.0,6106670.0,6121623.0,6137428.0
Montana,West,990697.0,997316.0,1003783.0,1013569.0,1021869.0,1030475.0,1040859.0,1052482.0,1060665.0,1068778.0
Nebraska,Midwest,1829542.0,1840672.0,1853303.0,1865279.0,1879321.0,1891277.0,1905616.0,1915947.0,1925614.0,1934408.0
Nevada,West,2702405.0,2712730.0,2743996.0,2775970.0,2817628.0,2866939.0,2917563.0,2969905.0,3027341.0,3080156.0
New Hampshire,Northeast,1316762.0,1320202.0,1324232.0,1326622.0,1333341.0,1336350.0,1342307.0,1348787.0,1353465.0,1359711.0
New Jersey,Northeast,8799446.0,8828117.0,8844942.0,8856972.0,8864525.0,8867949.0,8870827.0,8885525.0,8886025.0,8882190.0
New Mexico,West,2064552.0,2080450.0,2087309.0,2092273.0,2089568.0,2089291.0,2091630.0,2091784.0,2092741.0,2096829.0
New York,Northeast,19399878.0,19499241.0,19572932.0,19624447.0,19651049.0,19654666.0,19633428.0,19589572.0,19530351.0,19453561.0
North Carolina,South,9574323.0,9657592.0,9749476.0,9843336.0,9932887.0,10031646.0,10154788.0,10268233.0,10381615.0,10488084.0
North Dakota,Midwest,674715.0,685225.0,701176.0,722036.0,737401.0,754066.0,754434.0,754942.0,758080.0,762062.0
Ohio,Midwest,11539336.0,11544663.0,11548923.0,11576684.0,11602700.0,11617527.0,11634370.0,11659650.0,11676341.0,11689100.0
Oklahoma,South,3759944.0,3788379.0,3818814.0,3853214.0,3878187.0,3909500.0,3926331.0,3931316.0,3940235.0,3956971.0
Oregon,West,3837491.0,3872036.0,3899001.0,3922468.0,3963244.0,4015792.0,4089976.0,4143625.0,4181886.0,4217737.0
Pennsylvania,Northeast,12711160.0,12745815.0,12767118.0,12776309.0,12788313.0,12784826.0,12782275.0,12787641.0,12800922.0,12801989.0
Rhode Island,Northeast,1053959.0,1053649.0,1054621.0,1055081.0,1055936.0,1056065.0,1056770.0,1055673.0,1058287.0,1059361.0
South Carolina,South,4635649.0,4671994.0,4717354.0,4764080.0,4823617.0,4891938.0,4957968.0,5021268.0,5084156.0,5148714.0
South Dakota,Midwest,816166.0,823579.0,833566.0,842316.0,849129.0,853988.0,862996.0,872868.0,878698.0,884659.0
Tennessee,South,6355311.0,6399291.0,6453898.0,6494340.0,6541223.0,6591170.0,6646010.0,6708799.0,6771631.0,6829174.0
Texas,South,25241971.0,25645629.0,26084481.0,26480266.0,26964333.0,27470056.0,27914410.0,28295273.0,28628666.0,28995881.0
Utah,West,2775332.0,2814384.0,2853375.0,2897640.0,2936879.0,2981835.0,3041868.0,3101042.0,3153550.0,3205958.0
Vermont,Northeast,625879.0,627049.0,626090.0,626210.0,625214.0,625216.0,623657.0,624344.0,624358.0,623989.0
Virginia,South,8023699.0,8101155.0,8185080.0,8252427.0,8310993.0,8361808.0,8410106.0,8463587.0,8501286.0,8535519.0
Washington,West,6742830.0,6826627.0,6897058.0,6963985.0,7054655.0,7163657.0,7294771.0,7423362.0,7523869.0,7614893.0
West Virginia,South,1854239.0,1856301.0,1856872.0,1853914.0,1849489.0,1842050.0,1831023.0,1817004.0,1804291.0,1792147.0
Wisconsin,Midwest,5690475.0,5705288.0,5719960.0,5736754.0,5751525.0,5760940.0,5772628.0,5790186.0,5807406.0,5822434.0
Wyoming,West,564487.0,567299.0,576305.0,582122.0,582531.0,585613.0,584215.0,578931.0,577601.0,578759.0
Puerto Rico,NaN,3721525.0,3678732.0,3634488.0,3593077.0,3534874.0,3473232.0,3406672.0,3325286.0,3193354.0,3193694.0

## Task 6a - Create a deep copy of the DF

In [151]:
popDF = statespopDF_dropnadup.copy()

## Question 6.i - If we set DF_b = DF_a, any changes made to DF_b will also be propagated to DF_a. True or False? Write the answer as a comment in a cell directly below
### Answer 6.i

> The answer is True. Since DF_b = DF_a follows shallow copy, i.e it creates object with only references to the data and index. Any changes made to the orginal file will automatically reflects in shallow copy.

## Task 6b - Write DF to a fil

In [152]:
popDF.to_csv('popDF.csv', header = True, index = True)

## Question 6.ii - When we save or write a DataFrame out to file, what parameter and value is used to indicate that that we want to output the column labels? (not the whole command, just the optional parameter and value). Write the answer as a comment in a cell directly below.
### Answer 6.ii

> popDF.to_csv('popDF.csv', header = True, index = True). The parameter used to indicate column lables is 'Header' and value is 'True' which indicates headers from row 0

## Task 6c - Read the data back from the file and change dtype of some columns

In [89]:
popDF = popDF.astype(
        {'y2019':int,
         'y2018':int,
         'y2017':int,
         'y2016':int, 
         'y2015':int,
         'y2014':int,
         'y2013':int,
         'y2012':int,
         'y2011':int,
         'y2010':int,
        })
popDF.head()

,Region,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019
Alabama,South,4785437,4799069,4815588,4830081,4841799,4852347,4863525,4874486,4887681,4903185
Alaska,West,713910,722128,730443,737068,736283,737498,741456,739700,735139,731545
Arizona,West,6407172,6472643,6554978,6632764,6730413,6829676,6941072,7044008,7158024,7278717
Arkansas,South,2921964,2940667,2952164,2959400,2967392,2978048,2989918,3001345,3009733,3017804
California,West,37319502,37638369,37948800,38260787,38596972,38918045,39167117,39358497,39461588,39512223

## Task 7 - Indexing based on conditions
< In Task 4, we learned about two types of indexing, where we selected values based on indices or
labels. Another useful approach is to select rows or columns that satisfy some condition. We do
this by Boolean indexing. There are a few different ways to do this including the use of two
methods Series.isin() and DF.filter() >
## Task 7a. Boolean Indexing with comparison operators

In [90]:
# indexing based on conditions 
popDF.loc[popDF['y2019']>10000000]

,Region,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019
California,West,37319502,37638369,37948800,38260787,38596972,38918045,39167117,39358497,39461588,39512223
Florida,South,18845537,19053237,19297822,19545621,19845911,20209042,20613477,20963613,21244317,21477737
Georgia,South,9711881,9802431,9901430,9972479,10067278,10178447,10301890,10410330,10511131,10617423
Illinois,Midwest,12840503,12867454,12882510,12895129,12884493,12858913,12820527,12778828,12723071,12671821
New York,Northeast,19399878,19499241,19572932,19624447,19651049,19654666,19633428,19589572,19530351,19453561
North Carolina,South,9574323,9657592,9749476,9843336,9932887,10031646,10154788,10268233,10381615,10488084
Ohio,Midwest,11539336,11544663,11548923,11576684,11602700,11617527,11634370,11659650,11676341,11689100
Pennsylvania,Northeast,12711160,12745815,12767118,12776309,12788313,12784826,12782275,12787641,12800922,12801989
Texas,South,25241971,25645629,26084481,26480266,26964333,27470056,27914410,28295273,28628666,28995881

##  Question 7.i - Use Boolean indexing to select states where the Region is equal to ‘South’ and only select the columns – Region and years 2018 and 2019 to show in the output.
### ANSWER 7.i

In [153]:
# boolean indexing
popDF.loc[popDF['Region']=='South',['Region','y2018','y2019']]

               Region       y2018       y2019
Alabama         South   4887681.0   4903185.0
Arkansas        South   3009733.0   3017804.0
Delaware        South    965479.0    973764.0
Florida         South  21244317.0  21477737.0
Georgia         South  10511131.0  10617423.0
Kentucky        South   4461153.0   4467673.0
Louisiana       South   4659690.0   4648794.0
Maryland        South   6035802.0   6045680.0
Mississippi     South   2981020.0   2976149.0
North Carolina  South  10381615.0  10488084.0
Oklahoma        South   3940235.0   3956971.0
South Carolina  South   5084156.0   5148714.0
Tennessee       South   6771631.0   6829174.0
Texas           South  28628666.0  28995881.0
Virginia        South   8501286.0   8535519.0
West Virginia   South   1804291.0   1792147.0

## Question 7.ii - Use Boolean indexing to select states where the 2019 population lies between 10M and 20M, not inclusive, and show only the columns Region and y2019.
### ANSWER 7.ii

In [154]:
# selecting states where the 2019 population lies between 10M and 20M
popDF.loc[(popDF['y2019'] > 10000000) & (popDF['y2019'] < 20000000), ['Region', 'y2019']]

                   Region       y2019
Georgia             South  10617423.0
Illinois          Midwest  12671821.0
New York        Northeast  19453561.0
North Carolina      South  10488084.0
Ohio              Midwest  11689100.0
Pennsylvania    Northeast  12801989.0

## Task 7b - Using Series.isin() method

In [94]:
popDF.loc[popDF['Region'].isin(['Midwest']), ['Region','y2010','y2019']].head()

           Region     y2010     y2019
Illinois  Midwest  12840503  12671821
Indiana   Midwest   6490432   6732219
Iowa      Midwest   3050745   3155070
Kansas    Midwest   2858190   2913314
Michigan  Midwest   9877510   9986857

In [95]:
popDF.loc[popDF.index.isin(["Connecticut"])]

,Region,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019
Connecticut,Northeast,3579114,3588283,3594547,3594841,3594524,3587122,3578141,3573297,3571520,3565287

## Question 7.iii - Use Series.isin() to select values for states in the Northeast and Midwest region that also have population greater than 10M in the year 2018. Show the values only for the column Region and y2018. To select where the condition is not True, use ~ along with..isin(), e.g., DF.loc[~(DF[‘column].isin ([‘va1’, .... ‘valn’]))]
### ANSWER 7.iii

In [155]:
# using series.isin() to select values from states
popDF.loc[(popDF['Region'].isin(['Northeast', 'Midwest'])) & (popDF['y2018'] > 10_000_000), ['Region', 'y2018']]

                 Region       y2018
Illinois        Midwest  12723071.0
New York      Northeast  19530351.0
Ohio            Midwest  11676341.0
Pennsylvania  Northeast  12800922.0

## Task 7c - Using DF.filter() method

In [96]:
popDF.filter(like = "New", axis = 0)

,Region,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019
New Hampshire,Northeast,1316762,1320202,1324232,1326622,1333341,1336350,1342307,1348787,1353465,1359711
New Jersey,Northeast,8799446,8828117,8844942,8856972,8864525,8867949,8870827,8885525,8886025,8882190
New Mexico,West,2064552,2080450,2087309,2092273,2089568,2089291,2091630,2091784,2092741,2096829
New York,Northeast,19399878,19499241,19572932,19624447,19651049,19654666,19633428,19589572,19530351,19453561

In [97]:
popDF.filter(items = ["Utah", "Colorado", "Arizona"], axis = 0 )

,Region,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019
Utah,West,2775332,2814384,2853375,2897640,2936879,2981835,3041868,3101042,3153550,3205958
Colorado,West,5047349,5121108,5192647,5269035,5350101,5450623,5539215,5611885,5691287,5758736
Arizona,West,6407172,6472643,6554978,6632764,6730413,6829676,6941072,7044008,7158024,7278717

In [98]:
popDF.loc[popDF.index.str.startswith("New")]

,Region,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019
New Hampshire,Northeast,1316762,1320202,1324232,1326622,1333341,1336350,1342307,1348787,1353465,1359711
New Jersey,Northeast,8799446,8828117,8844942,8856972,8864525,8867949,8870827,8885525,8886025,8882190
New Mexico,West,2064552,2080450,2087309,2092273,2089568,2089291,2091630,2091784,2092741,2096829
New York,Northeast,19399878,19499241,19572932,19624447,19651049,19654666,19633428,19589572,19530351,19453561

## Question 7.iv - Write code to select all rows from popDF where the row label starts with the letters G or H or I only. Show all columns.
### ANSWER 7.iv

In [156]:
popDF.loc[popDF.index.str.startswith(('G','H','I'))]

,Region,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019
Georgia,South,9711881.0,9802431.0,9901430.0,9972479.0,10067278.0,10178447.0,10301890.0,10410330.0,10511131.0,10617423.0
Hawaii,West,1363963.0,1379329.0,1394804.0,1408243.0,1414538.0,1422052.0,1427559.0,1424393.0,1420593.0,1415872.0
Idaho,West,1570746.0,1583910.0,1595324.0,1611206.0,1631112.0,1651059.0,1682380.0,1717715.0,1750536.0,1787065.0
Illinois,Midwest,12840503.0,12867454.0,12882510.0,12895129.0,12884493.0,12858913.0,12820527.0,12778828.0,12723071.0,12671821.0
Indiana,Midwest,6490432.0,6516528.0,6537703.0,6568713.0,6593644.0,6608422.0,6634304.0,6658078.0,6695497.0,6732219.0
Iowa,Midwest,3050745.0,3066336.0,3076190.0,3092997.0,3109350.0,3120960.0,3131371.0,3141550.0,3148618.0,3155070.0

## Task 8 - Manipulating row and column labels
< In Task 2, we renamed the columns at read time. Sometimes, after we read the file, we may wish
to change some col and row labels. The steps in this Task will create new DF in order to not
change popDF >

## Task 8a - Rename (some) columns

In [26]:
popDF.rename(columns = {x : x[-4:] for x in statespopDF.columns[1:]}).head()

,Region,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
Alabama,South,4785437.0,4799069.0,4815588.0,4830081.0,4841799.0,4852347.0,4863525.0,4874486.0,4887681.0,4903185.0
Alaska,West,713910.0,722128.0,730443.0,737068.0,736283.0,737498.0,741456.0,739700.0,735139.0,731545.0
Arizona,West,6407172.0,6472643.0,6554978.0,6632764.0,6730413.0,6829676.0,6941072.0,7044008.0,7158024.0,7278717.0
Arkansas,South,2921964.0,2940667.0,2952164.0,2959400.0,2967392.0,2978048.0,2989918.0,3001345.0,3009733.0,3017804.0
California,West,37319502.0,37638369.0,37948800.0,38260787.0,38596972.0,38918045.0,39167117.0,39358497.0,39461588.0,39512223.0

## Question 8.i - Write code to rename the columns of popDF as ‘y10’, ‘y11’, ‘y12’...’y19’ using the DF.rename() method and a new dict comprehension.
### ANSWER 8.i

In [157]:
popDF.rename(columns = {x : 'y' + x[-2:] for x in statespopDF.columns[1:]})

,Region,y10,y11,y12,y13,y14,y15,y16,y17,y18,y19
Alabama,South,4785437.0,4799069.0,4815588.0,4830081.0,4841799.0,4852347.0,4863525.0,4874486.0,4887681.0,4903185.0
Alaska,West,713910.0,722128.0,730443.0,737068.0,736283.0,737498.0,741456.0,739700.0,735139.0,731545.0
Arizona,West,6407172.0,6472643.0,6554978.0,6632764.0,6730413.0,6829676.0,6941072.0,7044008.0,7158024.0,7278717.0
Arkansas,South,2921964.0,2940667.0,2952164.0,2959400.0,2967392.0,2978048.0,2989918.0,3001345.0,3009733.0,3017804.0
California,West,37319502.0,37638369.0,37948800.0,38260787.0,38596972.0,38918045.0,39167117.0,39358497.0,39461588.0,39512223.0
Colorado,West,5047349.0,5121108.0,5192647.0,5269035.0,5350101.0,5450623.0,5539215.0,5611885.0,5691287.0,5758736.0
Connecticut,Northeast,3579114.0,3588283.0,3594547.0,3594841.0,3594524.0,3587122.0,3578141.0,3573297.0,3571520.0,3565287.0
Delaware,South,899593.0,907381.0,915179.0,923576.0,932487.0,941252.0,948921.0,956823.0,965479.0,973764.0
District of Columbia,NaN,605226.0,619800.0,634924.0,650581.0,662328.0,675400.0,685815.0,694906.0,701547.0,705749.0
Florida,South,18845537.0,19053237.0,19297822.0,19545621.0,19845911.0,20209042.0,20613477.0,20963613.0,21244317.0,21477737.0
Georgia,South,9711881.0,9802431.0,9901430.0,9972479.0,10067278.0,10178447.0,10301890.0,10410330.0,10511131.0,10617423.0
Hawaii,West,1363963.0,1379329.0,1394804.0,1408243.0,1414538.0,1422052.0,1427559.0,1424393.0,1420593.0,1415872.0
Idaho,West,1570746.0,1583910.0,1595324.0,1611206.0,1631112.0,1651059.0,1682380.0,1717715.0,1750536.0,1787065.0
Illinois,Midwest,12840503.0,12867454.0,12882510.0,12895129.0,12884493.0,12858913.0,12820527.0,12778828.0,12723071.0,12671821.0
Indiana,Midwest,6490432.0,6516528.0,6537703.0,6568713.0,6593644.0,6608422.0,6634304.0,6658078.0,6695497.0,6732219.0
Iowa,Midwest,3050745.0,3066336.0,3076190.0,3092997.0,3109350.0,3120960.0,3131371.0,3141550.0,3148618.0,3155070.0
Kansas,Midwest,2858190.0,2869225.0,2885257.0,2893212.0,2900475.0,2909011.0,2910844.0,2908718.0,2911359.0,2913314.0
Kentucky,South,4348181.0,4369821.0,4386346.0,4404659.0,4414349.0,4425976.0,4438182.0,4452268.0,4461153.0,4467673.0
Louisiana,South,4544532.0,4575625.0,4600972.0,4624527.0,4644013.0,4664628.0,4678135.0,4670560.0,4659690.0,4648794.0
Maine,Northeast,1327629.0,1328284.0,1327729.0,1328009.0,1330513.0,1328262.0,1331317.0,1334612.0,1339057.0,1344212.0
Maryland,South,5788645.0,5839419.0,5886992.0,5923188.0,5957283.0,5985562.0,6003323.0,6023868.0,6035802.0,6045680.0
Massachusetts,Northeast,6566307.0,6613583.0,6663005.0,6713315.0,6762596.0,6794228.0,6823608.0,6859789.0,6882635.0,6892503.0
Michigan,Midwest,9877510.0,9882412.0,9897145.0,9913065.0,9929848.0,9931715.0,9950571.0,9973114.0,9984072.0,9986857.0
Minnesota,Midwest,5310828.0,5346143.0,5376643.0,5413479.0,5451079.0,5482032.0,5522744.0,5566230.0,5606249.0,5639632.0
Mississippi,South,2970548.0,2978731.0,2983816.0,2988711.0,2990468.0,2988471.0,2987938.0,2988510.0,2981020.0,2976149.0
Missouri,Midwest,5995974.0,6010275.0,6024367.0,6040715.0,6056202.0,6071732.0,6087135.0,6106670.0,6121623.0,6137428.0
Montana,West,990697.0,997316.0,1003783.0,1013569.0,1021869.0,1030475.0,1040859.0,1052482.0,1060665.0,1068778.0
Nebraska,Midwest,1829542.0,1840672.0,1853303.0,1865279.0,1879321.0,1891277.0,1905616.0,1915947.0,1925614.0,1934408.0
Nevada,West,2702405.0,2712730.0,2743996.0,2775970.0,2817628.0,2866939.0,2917563.0,2969905.0,3027341.0,3080156.0
New Hampshire,Northeast,1316762.0,1320202.0,1324232.0,1326622.0,1333341.0,1336350.0,1342307.0,1348787.0,1353465.0,1359711.0
New Jersey,Northeast,8799446.0,8828117.0,8844942.0,8856972.0,8864525.0,8867949.0,8870827.0,8885525.0,8886025.0,8882190.0
New Mexico,West,2064552.0,2080450.0,2087309.0,2092273.0,2089568.0,2089291.0,2091630.0,2091784.0,2092741.0,2096829.0
New York,Northeast,19399878.0,19499241.0,19572932.0,19624447.0,19651049.0,19654666.0,19633428.0,19589572.0,19530351.0,19453561.0
North Carolina,South,9574323.0,9657592.0,9749476.0,9843336.0,9932887.0,10031646.0,10154788.0,10268233.0,10381615.0,10488084.0
North Dakota,Midwest,674715.0,685225.0,701176.0,722036.0,737401.0,754066.0,754434.0,754942.0,758080.0,762062.0
Ohio,Midwest,11539336.0,11544663.0,11548923.0,11576684.0,11602700.0,11617527.0,11634370.0,11659650.0,11676341.0,11689100.0
Oklahoma,South,3759944.0,3788379.0,3818814.0,3853214.0,3878187.0,3909500.0,3926331.0,3931316.0,3940235.0,3956971.0
Oregon,West,3837491.0,3872036.0,3899001.0,3922468.0,3963244.0,4015792.0,4089976.0,4143625.0,4181886.0,4217737.0
Pennsylvania,Northeast,12711160.0,12745815.0,12767118.0,12776309.0,12788313.0,12784826.0,12782275.0,12787641.0,12800922.0,12801989.0
Rhode Island,Northeast,1053959.0,1053649.0,1054621.0,1055081.0,1055936.0,1056065.0,1056770.0,1055673.0,1058287.0,1059361.0
South Carolina,South,4635649.0,4671994.0,4717354.0,4764080.0,4823617.0,4891938.0,4957968.0,5021268.0,5084156.0,5148714.0
South Dakota,Midwest,816166.0,823579.0,833566.0,842316.0,849129.0,853988.0,862996.0,872868.0,878698.0,884659.0
Tennessee,South,6355311.0,6399291.0,6453898.0,6494340.0,6541223.0,6591170.0,6646010.0,6708799.0,6771631.0,6829174.0
Texas,South,25241971.0,25645629.0,26084481.0,26480266.0,26964333.0,27470056.0,27914410.0,28295273.0,28628666.0,28995881.0
Utah,West,2775332.0,2814384.0,2853375.0,2897640.0,2936879.0,2981835.0,3041868.0,3101042.0,3153550.0,3205958.0
Vermont,Northeast,625879.0,627049.0,626090.0,626210.0,625214.0,625216.0,623657.0,624344.0,624358.0,623989.0
Virginia,South,8023699.0,8101155.0,8185080.0,8252427.0,8310993.0,8361808.0,8410106.0,8463587.0,8501286.0,8535519.0
Washington,West,6742830.0,6826627.0,6897058.0,6963985.0,7054655.0,7163657.0,7294771.0,7423362.0,7523869.0,7614893.0
West Virginia,South,1854239.0,1856301.0,1856872.0,1853914.0,1849489.0,1842050.0,1831023.0,1817004.0,1804291.0,1792147.0
Wisconsin,Midwest,5690475.0,5705288.0,5719960.0,5736754.0,5751525.0,5760940.0,5772628.0,5790186.0,5807406.0,5822434.0
Wyoming,West,564487.0,567299.0,576305.0,582122.0,582531.0,585613.0,584215.0,578931.0,577601.0,578759.0
Puerto Rico,NaN,3721525.0,3678732.0,3634488.0,3593077.0,3534874.0,3473232.0,3406672.0,3325286.0,3193354.0,3193694.0

## Task 8b - Create a new surrogate index (row labels) with value 0,1,2,.....

In [104]:
popDF_newindex = popDF.reset_index()
popDF_newindex = popDF_newindex.set_index('index')

## Task 8c - Drop columns

In [106]:
popDF_newindex.drop(['y2010'], axis = 1, inplace = True, errors = 'ignore')

## Question 8.ii - What does the parameter errors = ‘raise’ of method DF.drop() do? Look up the documentation and explain in your own words
### ANSWER 8.ii

> The errors = 'raise' of method DF.drop() specifies an error is raised if a column we want to drop is not present in the dataframe, or name doesn't match in the given dataframe.

## Task 9 - Columnar operations on the DF data
< When we perform operation on a DF, we do not have to save the results, if we don’t want to
access it again in the future. As with regular objects, we can perform operations (by calling
methods or extracting subsets of data using indexing) and view the results immediately. We will
usually just do this to avoid creating unnecessary new objects.
myDF.operation
If we want to save the results, we can write
newDF = myDF.operation if the method returns a new DF
myDF[newcol] = myDF.operation 
if we want to add the returned Series to the DF >

## Task 9a - Create a new column copied from Region column and change some of its values

In [28]:
popDF['RegionAll'] = popDF['Region']
bmask = popDF['RegionAll'].isna()
popDF.loc[bmask, ['Region','RegionAll']]

                     Region RegionAll
District of Columbia    NaN       NaN
Puerto Rico             NaN       NaN

## Question 9.i - What is the value of the Series bmask for the row with label ‘District of Columbia’? Note: this is not asking for what the value of the popDF DataFrame is for ‘District of Columbia’.

### ANSWER 9.i

> bmask['District of Columbia'] - The value of bmask for the row with label 'District of Columbia' is True.

## Task 9b - Change specific values in a column

In [107]:
popDF.loc['District of Columbia', 'RegionAll'] = "DC"
popDF.loc['Puerto Rico', 'RegionAll'] = "PR"
popDF.loc[bmask, ['Region', 'RegionAll']]

                     Region RegionAll
District of Columbia    NaN        DC
Puerto Rico             NaN        PR

## Task 9c - Sort the DataFrame

In [108]:
statespopDF.sort_values(['Region','y2010']).head(5)

,Region,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019
North Dakota,Midwest,674715.0,685225.0,701176.0,722036.0,737401.0,754066.0,754434.0,754942.0,758080.0,762062.0
South Dakota,Midwest,816166.0,823579.0,833566.0,842316.0,849129.0,853988.0,862996.0,872868.0,878698.0,884659.0
Nebraska,Midwest,1829542.0,1840672.0,1853303.0,1865279.0,1879321.0,1891277.0,1905616.0,1915947.0,1925614.0,1934408.0
Kansas,Midwest,2858190.0,2869225.0,2885257.0,2893212.0,2900475.0,2909011.0,2910844.0,2908718.0,2911359.0,2913314.0
Iowa,Midwest,3050745.0,3066336.0,3076190.0,3092997.0,3109350.0,3120960.0,3131371.0,3141550.0,3148618.0,3155070.0

In [109]:
statespopDF.sort_values(['Region','y2010'], ascending = [False, True]).head()

,Region,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019
Wyoming,West,564487.0,567299.0,576305.0,582122.0,582531.0,585613.0,584215.0,578931.0,577601.0,578759.0
Alaska,West,713910.0,722128.0,730443.0,737068.0,736283.0,737498.0,741456.0,739700.0,735139.0,731545.0
Montana,West,990697.0,997316.0,1003783.0,1013569.0,1021869.0,1030475.0,1040859.0,1052482.0,1060665.0,1068778.0
Hawaii,West,1363963.0,1379329.0,1394804.0,1408243.0,1414538.0,1422052.0,1427559.0,1424393.0,1420593.0,1415872.0
Hawaii,West,1363963.0,1379329.0,1394804.0,1408243.0,1414538.0,1422052.0,1427559.0,1424393.0,1420593.0,1415872.0

## Question 9.ii - Write code to select from popDF only the Region and y2019 columns, and sort the DF first on Region (ascending) and then on y2019 (descending). Show the top 5 rows of the resulting DataFrame
### ANSWER 9.ii

In [158]:
popDF[['Region','y2019']].sort_values(['Region','y2019'],ascending=[True,False]).head()

           Region       y2019
Illinois  Midwest  12671821.0
Ohio      Midwest  11689100.0
Michigan  Midwest   9986857.0
Indiana   Midwest   6732219.0
Missouri  Midwest   6137428.0

## Task 10 - Computations on DF data: Math and stat operations

## Task 10a - Obtain summary information

In [110]:
popDF.info()
popDF.describe()

<class 'pandas.core.frame.DataFrame'>
Index: 52 entries, Alabama to Puerto Rico
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Region     50 non-null     object
 1   y2010      52 non-null     int64
 2   y2011      52 non-null     int64
 3   y2012      52 non-null     int64
 4   y2013      52 non-null     int64
 5   y2014      52 non-null     int64
 6   y2015      52 non-null     int64
 7   y2016      52 non-null     int64
 8   y2017      52 non-null     int64
 9   y2018      52 non-null     int64
 10  y2019      52 non-null     int64
 11  RegionAll  2 non-null      object
dtypes: int64(10), object(2)
memory usage: 7.3+ KB

,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019
count,5.200000e+01,5.200000e+01,5.200000e+01,5.200000e+01,5.200000e+01,5.200000e+01,5.200000e+01,5.200000e+01,5.200000e+01,5.200000e+01
mean,6.020061e+06,6.062223e+06,6.105105e+06,6.145900e+06,6.189152e+06,6.232854e+06,6.275923e+06,6.313670e+06,6.343863e+06,6.373716e+06
std,6.778446e+06,6.842115e+06,6.907269e+06,6.969339e+06,7.040326e+06,7.112407e+06,7.176089e+06,7.229217e+06,7.268729e+06,7.301997e+06
min,5.644870e+05,5.672990e+05,5.763050e+05,5.821220e+05,5.825310e+05,5.856130e+05,5.842150e+05,5.789310e+05,5.776010e+05,5.787590e+05
25%,1.764843e+06,1.776482e+06,1.788808e+06,1.793237e+06,1.794895e+06,1.794302e+06,1.793862e+06,1.792182e+06,1.790852e+06,1.790876e+06
50%,4.092836e+06,4.120928e+06,4.142674e+06,4.163564e+06,4.188796e+06,4.220884e+06,4.264079e+06,4.297946e+06,4.321520e+06,4.342705e+06
75%,6.610438e+06,6.666844e+06,6.721518e+06,6.775982e+06,6.835611e+06,6.913171e+06,7.029497e+06,7.138846e+06,7.249485e+06,7.362761e+06
max,3.731950e+07,3.763837e+07,3.794880e+07,3.826079e+07,3.859697e+07,3.891804e+07,3.916712e+07,3.935850e+07,3.946159e+07,3.951222e+07

## Task 10b - Performing math /scientific operations on the data

In [113]:
# Unary operations (on one value)
np.log(popDF['y2019']).sample(5)
# Binary operations (on two values)
np.add(popDF['y2018'], 1000).tail()
(popDF['y2018'].add(1000)).tail()
(popDF['y2018']+1000).tail()
((popDF['y2019']-popDF['y2018'])/popDF['y2018']).nsmallest(10)

West Virginia   -0.006731
Alaska          -0.004889
Illinois        -0.004028
New York        -0.003932
Hawaii          -0.003323
Louisiana       -0.002338
Connecticut     -0.001745
Mississippi     -0.001634
Vermont         -0.000591
New Jersey      -0.000432
dtype: float64

## Question 10.i - Write code to compute, for each state, the ratio of its population in 2019 divided by the maximum population of all states in 2019. Then display the state names and ratios for the 5 largest values using the DF.nlargest() method.
### ANSWER 10.i

In [159]:
((popDF['y2019'])/popDF['y2019'].max()).nlargest(5)

California      1.000000
Texas           0.733846
Florida         0.543572
New York        0.492343
Pennsylvania    0.324001
Name: y2019, dtype: float64

## Task 10c - Performing stats (aggregation) operations on the data

In [118]:
popDF.loc[:, 'y2010':'y2019'].mean(axis = 0)
popDF.loc[:, ['y2017','y2018','y2019']].idxmin()
popDF[['y2015', 'y2019']].idxmax()

y2015    California
y2019    California
dtype: object

## Question 10.ii - For each state, write code to compute the 5-year average population over the years 2015-2019. This requires computing row means of the population for the chosen years. Finally, print the means for the states with the 5 smallest values.

### ANSWER 10.ii

In [160]:
popDF.loc[:,'y2015':'y2019'].mean(axis=1).nsmallest(5)

Wyoming                 581023.8
Vermont                 624312.8
District of Columbia    692683.4
Alaska                  737067.6
North Dakota            756716.8
dtype: float64

## Task 11 - Create new computed columns

## Task 11a - Create a new column with the % change in population between 2018 and 2019

In [37]:
popDF['2019_pctg'] = (popDF['y2019']-popDF['y2018'])/popDF['y2018']
popDF['2019_pctg']

Alabama                 0.003172
Alaska                 -0.004889
Arizona                 0.016861
Arkansas                0.002682
California              0.001283
Colorado                0.011851
Connecticut            -0.001745
Delaware                0.008581
District of Columbia    0.005990
Florida                 0.010987
Georgia                 0.010112
Hawaii                 -0.003323
Idaho                   0.020867
Illinois               -0.004028
Indiana                 0.005485
Iowa                    0.002049
Kansas                  0.000672
Kentucky                0.001462
Louisiana              -0.002338
Maine                   0.003850
Maryland                0.001637
Massachusetts           0.001434
Michigan                0.000279
Minnesota               0.005955
Mississippi            -0.001634
Missouri                0.002582
Montana                 0.007649
Nebraska                0.004567
Nevada                  0.017446
New Hampshire           0.004615
New Jersey             -0.000432
New Mexico              0.001953
New York               -0.003932
North Carolina          0.010256
North Dakota            0.005253
Ohio                    0.001093
Oklahoma                0.004247
Oregon                  0.008573
Pennsylvania            0.000083
Rhode Island            0.001015
South Carolina          0.012698
South Dakota            0.006784
Tennessee               0.008498
Texas                   0.012827
Utah                    0.016619
Vermont                -0.000591
Virginia                0.004027
Washington              0.012098
West Virginia          -0.006731
Wisconsin               0.002588
Wyoming                 0.002005
Puerto Rico             0.000106
Name: 2019_pctg, dtype: float64

## Question 11.i - Write code to compute and add a new column in popDF that contains the compound annual growth rate of population between 2014 and 2019. Call this new column ‘2019_5cagr’. Show the first 5 rows of only this new column.

### ANSWER 11.i

In [161]:
popDF['2019_5cagr'] = np.round(((popDF['y2019']/popDF['y2014'])**(1/(2019-2014))) - 1,4)
popDF['2019_5cagr'].head()

Alabama       0.0025
Alaska       -0.0013
Arizona       0.0158
Arkansas      0.0034
California    0.0047
Name: 2019_5cagr, dtype: float64

## Task 11b - More complex operations on data for which built-in functions may not exist – using DF.apply()

In [124]:
def expstandardize(x):
    return np.exp((x - x.mean())/x.std())
popDF[['y2019']].apply(expstandardize).head()
popDF[['y2018','y2019']].apply(expstandardize).head()

                y2018      y2019
Alabama      0.818456   0.817596
Alaska       0.462262   0.461770
Arizona      1.118523   1.131947
Arkansas     0.632108   0.631544
California  95.220181  93.529812

## Question 11.ii - Write code to compute a new column in popDF that contains the coefficient of variation for each state for the population in years 2010-2019. Use DF.apply() for this task. Name this column ‘coeffofvar’. Display the first 5 values of only this new column (with index).

### ANSWER 11.ii

In [165]:
def coeffvar(x):
    return (x.std()/x.mean())
popDF['covar'] = popDF.loc[:,'y2010':'y2019'].apply(coeffvar, axis = 1)
popDF['covar'].head()

Alabama       0.007912
Alaska        0.011668
Arizona       0.043586
Arkansas      0.010494
California    0.020558
Name: covar, dtype: float64

## Task 11c - Aggregation operations using DF.agg()

In [166]:
popDF[['y2019','y2018']].agg(['count','sum','min','max','mean','var','skew','kurt','median','idxmax','idxmin'])
popDF[['y2019','y2018']].agg({'y2019':['min','max'], 'y2018':['var','std']})
popDF[['y2019','y2018']].agg({'y2019':['min','max'], 'y2018':['var','std', np.min, np.max]})

           y2019         y2018
min     578759.0           NaN
max   39512223.0           NaN
var          NaN  5.283443e+13
std          NaN  7.268729e+06
amin         NaN  5.776010e+05
amax         NaN  3.946159e+07

## Task 11d - Performing grouping operations using DF.groupby()

In [129]:
popDF[['Region','y2010','y2019']].groupby(['Region']).mean().sort_values(['Region'])
popDF.groupby(['Region'])[['y2019','y2010']].agg(['min','idxmin','max','idxmax','mean'])

            y2019                                                     y2010  \
              min        idxmin       max      idxmax          mean     min
Region
Midwest    762062  North Dakota  12671821    Illinois  5.694084e+06  674715
Northeast  623989       Vermont  19453561    New York  6.220311e+06  625879
South      973764      Delaware  28995881       Texas  7.804669e+06  899593
West       578759       Wyoming  39512223  California  6.026713e+06  564487


                 idxmin       max      idxmax          mean
Region
Midwest    North Dakota  12840503    Illinois  5.581201e+06
Northeast       Vermont  19399878    New York  6.153348e+06
South          Delaware  25241971       Texas  7.141341e+06
West            Wyoming  37319502  California  5.546187e+06

## Question 11.iii - Write code to compute a new column in popDF that contains the mean of the population in year 2019 grouped by region (Midwest, Northeast, South, West). Call this new column ‘mean2019popbyReg’. Print the first 5 rows of only this column (with index) as a DataFrame.

### ANSWER 11.iii

In [167]:
popDF['mean2019popbyReg'] = popDF[['Region','y2019']].groupby('Region').transform('mean')
popDF['mean2019popbyReg'].head()

Alabama       7.804669e+06
Alaska        6.026713e+06
Arizona       6.026713e+06
Arkansas      7.804669e+06
California    6.026713e+06
Name: mean2019popbyReg, dtype: float64

## The End